# Contents of /etc/systemd/system/jupyter.service
[Unit]
Description=Jupyter Notebook
After=network.target
[Service]
Type=simple
Restart=always
User=osbdet
Environment="SPARK_HOME=/opt/spark3"
WorkingDirectory=/home/osbdet/notebooks
ExecStart=jupyter notebook
[Install]
WantedBy=multi-user.target
