# Contents of /etc/systemd/system/airflow.service
[Unit]
Description=Airflow
After=network.target af_webserver.service
Requires=network.target af_webserver.service

[Service]
Type=simple
Restart=always
User=osbdet
Environment="AIRFLOW_HOME=/opt/airflow"
ExecStart=/usr/bin/bash -c "cd /opt/airflow && source /opt/airflow/bin/activate && airflow scheduler"
#StandardOutput=file:/dev/null
#StandardError=file:/dev/null

[Install]
WantedBy=multi-user.target
