# Contents of /etc/systemd/system/hive.service
[Unit]
Description=Hive server 2
After=network.target
[Service]
Type=simple
Restart=always
User=osbdet
WorkingDirectory=/opt/hive3
ExecStart=/opt/hive3/bin/hiveserver2-start.sh
[Install]
WantedBy=multi-user.target
