# Contents of /etc/systemd/system/minio.service
[Unit]
Description=MinIO service
After=network.target
[Service]
Type=simple
Restart=always
User=osbdet
Environment="MINIO_ROOT_USER=admin"
Environment="MINIO_ROOT_PASSWORD=osbdet123$"
WorkingDirectory=/home/osbdet
ExecStart=/usr/local/bin/minio server /data/s3 --console-address ":9001"
[Install]
WantedBy=multi-user.target
