[Unit]
Description=Jupyter Notebook
After=network.target
[Service]
Type=simple
Restart=always
User=osbdet
WorkingDirectory=/home/osbdet/notebooks
ExecStart=/home/osbdet/.jupyter_venv/bin/jupyter notebook
[Install]
WantedBy=multi-user.target
